@import 'reset';

$game-layer-height: 80vh;
$hud-container-height: 18vh;
$experience-bar-height: 2vh;

$hit-points-width: 20%;

$full-view-with: 100vw;
$skills-container-width: 60%;
$debug-color: #A4D9EB;

$experience-bar-color: green;
$inventory-background: white;
$bloody-red-color: #af111c;

$full: 100%;

html, body {
  width: $full;
  height: $full;
  background-color: $debug-color;
}

canvas {
  display:block;
}

.game-layer {
  width: $full-view-with;
  height: $game-layer-height;
}

.hud-container {
  height: $hud-container-height;

  .hit-points {
    width: $hit-points-width;
    float: left;
    height: $full;

    .life {
      height: $full;
      width: 50%;
      float: left;
      background-color: $bloody-red-color;
    }

    .mana {
      height: $full;
      width: 50%;
      float: left;
      background-color: blue;
    }
  }

  .skills-container {
    width: $skills-container-width;
    height: $full;
    float: left;
    background-color: black;
  }

  .side-menu {
    width: $hit-points-width;
    float: left;
    height: $full;
    background-color: grey;

    .tool-menu {
      position: absolute;
      z-index: 1;
      padding: 10px;
    }

    .player-stats {
      bottom: 21vh;
      left: 1vw;
      width: 15vw;
      background-color: $inventory-background;
    }

    .inventory {
      bottom: 21vh;
      right: 1vw;
      width: 15vw;
      background-color: $inventory-background;

      .inventory-item {
        float:left;
        width: 25%;
        padding: 10px;
      }
    }

  }
}

.experience-bar {
  width: $full-view-with;
  height: $experience-bar-height;
  background-color: $experience-bar-color;
}

progress[value] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

progress.life::-moz-progress-bar { background: $bloody-red-color }
progress.life::-webkit-progress-value { background: $bloody-red-color }
